[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=zodmin
Group=www-data
WorkingDirectory=/home/aits-server/htdocs/server.aits.ocunex.com
ExecStart=/home/aits-server/htdocs/server.aits.ocunex.com/env/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          django_project.wsgi:application

[Install]
WantedBy=multi-user.target



