#!/usr/bin/env bash
export DEBUG=1
export SECRET_KEY='django-insecure-pph-y6cb_(hez^nsa-p(q0%2b70@(3#3ld(4=je4mti+8i1f9h'
export DJANGO_ALLOWED_HOSTS=* localhost 127.0.0.1 [::1]

# Email settings
export EMAIL_HOST = 'mail.msg.ocunex.com'
export EMAIL_HOST_USER = 'aits@msg.ocunex.com' 
export EMAIL_HOST_PASSWORD = 'ty5vbfe71zkf' 

# Database settings
export DATABASE_NAME = 'AITS'
export DATABASE_USER = 'postgres'
export DATABASE_PASSWORD =  'agcy2YUSQmKwrTZvjNHd'  # Database password
export DATABASE_HOST =  '95.179.228.65'  # Database host (IP address or domain)
export DATABASE_PORT =  '5432'  # Database port

export DJANGO_ALLOWED_HOSTS =  'server.aits.ocunex.com localhost 127.0.0.1 .vercel.app .now.sh'