asgiref
Django
django-extensions
django-filter
djangorestframework
djangorestframework-jsonapi
inflection
psycopg2-binary
python-dotenv
pytz
sqlparse
tzdata
pillow
django-cors-headers
djangorestframework-simplejwt
PyJWT
psycopg2-binary
